<!-- AM: +1 for customizing your Devise views -->
<!-- AM: Also +1 for adding some security to your views to prevent non-users from interacting with your app. -->
<!-- AM: I would also consider adding similar security to your controller actions (i.e., if user is not logged-in and tries to update something, they will be redirected) -->
<% if current_user %>
<div class="inside">
<h2>Your Languages</h2>
<% @languages.each do |language| %>
  <h3 class="language"><%= link_to "#{language.name}", language_path(language) %> <%= link_to "[DELETE]", language_path(language), method: :delete, class: "crud_link" %></h3>
<% end %>

<%= form_for @language do |f| %>
 <%= f.label :add_a_language %><br>
 <%= f.text_field :name, placeholder: 'Ex.\'French\', \'Русский\', etc.'%><br>

  <%= f.submit "Add language", class: "button"%><br>
<% end %>
<% end %>
</div>
<!-- AM: ^^ Indentation plz! ^^-->
