<% if current_user %>
<h2>Your Languages</h2>

<% @languages.each do |language| %>
  <h3 class="language"><%= link_to "#{language.name}", language_path(language) %></h3><%= link_to "DELETE", language_path(language), method: :delete, class: "crud_button" %>
<% end %>

<%= form_for @language do |f| %>
 <%= f.label :new_language %><br>
 <%= f.text_field :name, placeholder: 'Ex.\'French\', \'Русский\', etc.'%><br>

  <%= f.submit "Add new language"%><br>
<% end %>
<% end %>
