<div class="inside">
<h2>Edit this <%= @language.name %> idiom</h2>

<%= form_for [@language, @phrase] do |f| %>
 <%= f.text_field :body, placeholder: "Idiom" %><br>
 <%= f.text_field :pronunciation, placeholder: "Pronunciation" %><br>
 <%= f.text_field :fig_trans, placeholder: "English meaning" %><br>
 <%= f.text_field :lit_trans, placeholder: "Literal translation" %><br>
 <%= f.text_field :context, placeholder: "Context" %><br>

  <%= f.submit "Save"%>
<% end %>
</div>
