<h1>Idiom Update</h1>

<%= form_for [@language, @phrase] do |f| %>
 <%= f.label :idiom %><br>
 <%= f.text_area :body, size: "40x3" %><br>

 <%= f.label :pronunciation %><br>
 <%= f.text_area :pronunciation, size: "40x3" %><br>

 <%= f.label :english_meaning %><br>
 <%= f.text_area :fig_trans, size: "40x3" %><br>

 <%= f.label :literal_translation %><br>
 <%= f.text_area :lit_trans, size: "40x3" %><br>

 <%= f.label :context %><br>
 <%= f.text_area :context, size: "40x3" %><br>

  <%= f.submit "Update"%>
<% end %>
