<div class="inside">

<h2>Create a new <%= @language.name %> idiom</h2>

<%= form_for [@language, @phrase] do |f| %>
<%= f.text_field :body, placeholder: "Idiom" %><br>
<%= f.text_field :pronunciation, placeholder: "Pronunciation" %><br>
<%= f.text_field :fig_trans, placeholder: "English meaning" %><br>
<%= f.text_field :lit_trans, placeholder: "Literal translation" %><br>
<%= f.text_field :context, placeholder: "Context" %><br>

  <%= f.submit "Update"%><br>
  <%= link_to "[CANCEL]", language_path(@language) %>
<% end %>
</div>
